# Copy to .env and fill values
# MySQL: you can use docker-compose below or your local MySQL
DATABASE_URL="mysql://root:root@localhost:3306/roxiler_ratings"

# JWT for auth
JWT_SECRET="Roxiler@123"
JWT_EXPIRES_IN="7d"

# Node
PORT=4000
